

table {
	width: 75%;
}

th,
td {
	padding: 50px;
}

.table_picture {
	text-align: center;
}

.picture {
	width: 500px;
	height: 350px;
}

.text {
	line-height: 300%;
	font-size: 17px;
}

#btn1 {
	width: 150px;
	height: 50px;
	border-radius: 20%;
	background-color: #D9E3D6;
	outline: none;
	font-size: 22px;
	position: fixed;
	left: 25px;
	top: 350px;
	outline: none;
	border: none;
}

#btn2 {
	width: 150px;
	height: 50px;
	border-radius: 20%;
	background-color: #D9E3D6;
	outline: none;
	font-size: 22px;
	position: fixed;
	left: 25px;
	top: 425px;
	outline: none;
	border: none;
}

#btn3 {
	width: 150px;
	height: 50px;
	border-radius: 20%;
	background-color: #D9E3D6;
	outline: none;
	font-size: 22px;
	position: fixed;
	left: 25px;
	top: 500px;
	outline: none;
	border: none;
}

.link {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.title {
	font-weight: bold;
}

#title1 {
	background-color: #F2FFFA;
	text-align: center;
	font-size: 32px;
}