body{
	margin:0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 微軟正黑體 Light;
    -webkit-font-smoothing:antialiased;
	background-color: #f6f3ea;
}

header{
	background:#7FA368;
	position:fixed;
	width:100%;
	z-index: 1;
	
}

header h1{
	color:white;
	padding:90px 25px;
	font-size:3.5em;
	font-weight:bold;
	transition: padding .3s, font-size .3s;
}

header nav{
	position:absolute;
	top:134px;
	right:25px;
	transition: top .3s;
}

header.small h1{
	padding:25px;
	font-size:1.5em;
}

header.small nav{
	top:30px;
}


header h1 a{
	text-decoration:none;
	color: white;
}

nav div{
	float:left;
	margin-left:20px;
    margin-top: 10px;
	list-style-type:none;
	font-weight:bold;
	font-size: 20px;
}

nav div a{
	text-decoration:none;
	color: white;
}

nav div a:hover{
    border-radius: 5px;
    background-color: white;
	color:green;
}
.set{
    padding-top:330px ;
}

#float{
	position:absolute;
	z-index: 0;
	top:800px;
	right:5px;	
}

#float li{
	list-style-type:none;
}

#float a{
	display:block;
	background:#7FA368;
	padding:20px;
	width:80px;
	color:#FFF;
	text-decoration:none;
	border-bottom:1px solid #538236;
}

#float a:hover{
	background:#20bba1;
}
#top a{
	border-radius: 30px 30px 0px 0px;
}
#button a{
	border-radius: 0px 0px 30px 30px;
}
#footer{
	background-color: #000;
	color: #fff;
	height: 50px;
	text-align: center;
	font-size: 10px;
	padding-top: 20px;
	margin-top: 20px;
}
